.exchange-box {
  width: 370px;
  height: 520px ;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 0 3px black inset;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-icon {
  font-size: 16px;
  color: #777;
  cursor: pointer;
}

.section {
  margin-top: 20px;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  border: 2px solid black;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 3px 3px 0 black;
}

.input-group input {
  flex: 1;
  border: none;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  background: white;
  outline: none;
}

.input-group .coin {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 12px;
  font-weight: bold;
  font-size: 16px;
}

.input-group.yellow .coin {
  background: #fefac9;
}

.input-group.green .coin {
  background: #d9fdd6;
}

.coin img {
  height: 20px;
}

.rate {
  font-size: 12px;
  color: #94a3b8;
  margin-top: 5px;
}

.swap-icon {
  background: #c59dff;
  color: black;
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 3px 3px 0 black;
  cursor: pointer;
}

.swap-button {
  margin-top: 20px;
  width: 100%;
  background: #00f0e0;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 3px 3px 0 black;
  cursor: pointer;
  font-family: 'Bangers', cursive, sans-serif;
  letter-spacing: 1px;
}
