.sidebar {
  width: 70px;
  background: white;
  border-radius: 18px;
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  position: fixed;
  top: 110px;
  left: 10px;
}

.sidebar-top {
  padding: 10px;
}

.top-img {
  width: 42px;
  height: 42px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-wrapper img {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon-wrapper img:hover {
  transform: scale(1.1);
}
